html {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}
/* ===== 導覽列 ===== */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    height: 60px;

    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid #ddd;

    z-index: 9999;
}

/* 導覽文字 */
.nav a {
    text-decoration: none;
    color: black;

    font-weight: bold;

    font-size:14px;

    letter-spacing:0;

    transition: 0.2s;
}

/* Hover效果 */
.nav a:hover {
    opacity: 0.6;
}

/* 避免內容被nav蓋住 */
body {
    padding-top: 70px;
}

/* ===== 手機版 ===== */
@media (max-width:700px){

    .nav{

        gap:20px;

    }

    .nav a{

        font-size:14px;

        letter-spacing:0;

    }

    .hero{

        height:50vh;
    }

    .hero h1{

        font-size:9vw;

        line-height:1.1;

        letter-spacing:0;

        text-align:center;

        white-space: nowrap;

    }

    .hero p{

        font-size:5vw;

        margin-top:10px;

    }

}